<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  <table id="month-detailed-671f052671e0c671f052633e1825-1" class="calendarmonth calendartable mb-0">
    <thead>
        <tr>
            <th class="header text-xs-center">
                <span class="sr-only">Monday</span>
                <span aria-hidden="true">Mon</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Tuesday</span>
                <span aria-hidden="true">Tue</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Wednesday</span>
                <span aria-hidden="true">Wed</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Thursday</span>
                <span aria-hidden="true">Thu</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Friday</span>
                <span aria-hidden="true">Fri</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Saturday</span>
                <span aria-hidden="true">Sat</span>
            </th>
            <th class="header text-xs-center">
                <span class="sr-only">Sunday</span>
                <span aria-hidden="true">Sun</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-region="month-view-week">
                <td class="dayblank">&nbsp;</td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="1"
                    data-day-timestamp="1727721000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1727753382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Tuesday, 1 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">1</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Tuesday, 1 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">1</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="2"
                    data-day-timestamp="1727807400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1727839782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Wednesday, 2 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">2</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Wednesday, 2 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">2</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable hasevent"
                    data-day="3"
                    data-day-timestamp="1727893800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1727926182"
                     data-title="Thursday, 3 October events">
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">1 event, Thursday, 3 October</span>
                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Thursday, 3 October events"
                                data-year="2024" data-month="10" data-day="3"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1727893800"><span class="day-number-circle"><span class="day-number">3</span></span></a>
                            <div data-region="day-content">
                                <ul>
                                        <li data-region="event-item"
                                            data-event-component="mod_assign"
                                            data-event-eventtype="due"
                                            data-event-folded="false"
                                            data-eventtype-course="1"
>

                                            <a data-action="view-event" data-event-id="952" href="https://icetlms.lk/mod/assign/view.php?id=1860" title="Final Project | Milestone 01 is due">
                                                <span class="calendar-circle calendar_event_course">
                                                    &nbsp;
                                                </span>
                                                <span class="eventname">Final Project | Milestone 01 is due</span>
                                            </a>
                                        </li>
                                    <li data-action="view-more-events" style="display: none">
                                        <strong>
                                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Thursday, 3 October events"
                                               data-year="2024" data-month="10" data-day="3"
                                               data-courseid="1" data-categoryid="0"
                                               data-timestamp="1727893800">
                                                more
                                            </a>
                                        </strong>
                                    </li>
                                </ul>
                                <div class="hidden">
                                        <div data-popover-eventtype-course="1">
                                                <img class="icon " alt="" aria-hidden="true" src="https://icetlms.lk/theme/image.php/lambda/assign/1721749349/monologo" />
                                            Final Project | Milestone 01 is due
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">1 event, Thursday, 3 October</span>
                            <a data-action="view-day-link" href="#" class="day aalink" aria-label="Thursday, 3 October events"
                                data-year="2024" data-month="10" data-day="3"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1727893800"><span class="day-number-circle"><span class="day-number">3</span></span></a>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="4"
                    data-day-timestamp="1727980200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728012582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Friday, 4 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">4</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Friday, 4 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">4</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="5"
                    data-day-timestamp="1728066600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728098982"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Saturday, 5 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">5</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Saturday, 5 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">5</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="6"
                    data-day-timestamp="1728153000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728185382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Sunday, 6 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">6</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Sunday, 6 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">6</span></span></span>
                    </div>
                </td>
        </tr>
        <tr data-region="month-view-week">
                <td class="day text-sm-center text-md-left clickable"
                    data-day="7"
                    data-day-timestamp="1728239400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728271782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Monday, 7 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">7</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Monday, 7 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">7</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="8"
                    data-day-timestamp="1728325800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728358182"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Tuesday, 8 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">8</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Tuesday, 8 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">8</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="9"
                    data-day-timestamp="1728412200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728444582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Wednesday, 9 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">9</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Wednesday, 9 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">9</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable hasevent"
                    data-day="10"
                    data-day-timestamp="1728498600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728530982"
                     data-title="Thursday, 10 October events">
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">1 event, Thursday, 10 October</span>
                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Thursday, 10 October events"
                                data-year="2024" data-month="10" data-day="10"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1728498600"><span class="day-number-circle"><span class="day-number">10</span></span></a>
                            <div data-region="day-content">
                                <ul>
                                        <li data-region="event-item"
                                            data-event-component="mod_assign"
                                            data-event-eventtype="due"
                                            data-event-folded="false"
                                            data-eventtype-course="1"
>

                                            <a data-action="view-event" data-event-id="970" href="https://icetlms.lk/mod/assign/view.php?id=1899" title="ER Diagram and Use Case Diagram is due">
                                                <span class="calendar-circle calendar_event_course">
                                                    &nbsp;
                                                </span>
                                                <span class="eventname">ER Diagram and Use Case Diagram is due</span>
                                            </a>
                                        </li>
                                    <li data-action="view-more-events" style="display: none">
                                        <strong>
                                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Thursday, 10 October events"
                                               data-year="2024" data-month="10" data-day="10"
                                               data-courseid="1" data-categoryid="0"
                                               data-timestamp="1728498600">
                                                more
                                            </a>
                                        </strong>
                                    </li>
                                </ul>
                                <div class="hidden">
                                        <div data-popover-eventtype-course="1">
                                                <img class="icon " alt="" aria-hidden="true" src="https://icetlms.lk/theme/image.php/lambda/assign/1721749349/monologo" />
                                            ER Diagram and Use Case Diagram is due
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">1 event, Thursday, 10 October</span>
                            <a data-action="view-day-link" href="#" class="day aalink" aria-label="Thursday, 10 October events"
                                data-year="2024" data-month="10" data-day="10"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1728498600"><span class="day-number-circle"><span class="day-number">10</span></span></a>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="11"
                    data-day-timestamp="1728585000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728617382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Friday, 11 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">11</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Friday, 11 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">11</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="12"
                    data-day-timestamp="1728671400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728703782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Saturday, 12 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">12</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Saturday, 12 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">12</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="13"
                    data-day-timestamp="1728757800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728790182"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Sunday, 13 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">13</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Sunday, 13 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">13</span></span></span>
                    </div>
                </td>
        </tr>
        <tr data-region="month-view-week">
                <td class="day text-sm-center text-md-left clickable"
                    data-day="14"
                    data-day-timestamp="1728844200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728876582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Monday, 14 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">14</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Monday, 14 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">14</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="15"
                    data-day-timestamp="1728930600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1728962982"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Tuesday, 15 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">15</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Tuesday, 15 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">15</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="16"
                    data-day-timestamp="1729017000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729049382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Wednesday, 16 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">16</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Wednesday, 16 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">16</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="17"
                    data-day-timestamp="1729103400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729135782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Thursday, 17 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">17</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Thursday, 17 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">17</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="18"
                    data-day-timestamp="1729189800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729222182"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Friday, 18 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">18</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Friday, 18 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">18</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="19"
                    data-day-timestamp="1729276200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729308582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Saturday, 19 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">19</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Saturday, 19 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">19</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable hasevent"
                    data-day="20"
                    data-day-timestamp="1729362600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729394982"
                     data-title="Sunday, 20 October events">
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">1 event, Sunday, 20 October</span>
                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Sunday, 20 October events"
                                data-year="2024" data-month="10" data-day="20"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1729362600"><span class="day-number-circle"><span class="day-number">20</span></span></a>
                            <div data-region="day-content">
                                <ul>
                                        <li data-region="event-item"
                                            data-event-component="mod_assign"
                                            data-event-eventtype="due"
                                            data-event-folded="false"
                                            data-eventtype-course="1"
>

                                            <a data-action="view-event" data-event-id="971" href="https://icetlms.lk/mod/assign/view.php?id=1900" title="Completed Document is due">
                                                <span class="calendar-circle calendar_event_course">
                                                    &nbsp;
                                                </span>
                                                <span class="eventname">Completed Document is due</span>
                                            </a>
                                        </li>
                                    <li data-action="view-more-events" style="display: none">
                                        <strong>
                                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Sunday, 20 October events"
                                               data-year="2024" data-month="10" data-day="20"
                                               data-courseid="1" data-categoryid="0"
                                               data-timestamp="1729362600">
                                                more
                                            </a>
                                        </strong>
                                    </li>
                                </ul>
                                <div class="hidden">
                                        <div data-popover-eventtype-course="1">
                                                <img class="icon " alt="" aria-hidden="true" src="https://icetlms.lk/theme/image.php/lambda/assign/1721749349/monologo" />
                                            Completed Document is due
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">1 event, Sunday, 20 October</span>
                            <a data-action="view-day-link" href="#" class="day aalink" aria-label="Sunday, 20 October events"
                                data-year="2024" data-month="10" data-day="20"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1729362600"><span class="day-number-circle"><span class="day-number">20</span></span></a>
                    </div>
                </td>
        </tr>
        <tr data-region="month-view-week">
                <td class="day text-sm-center text-md-left clickable"
                    data-day="21"
                    data-day-timestamp="1729449000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729481382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Monday, 21 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">21</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Monday, 21 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">21</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="22"
                    data-day-timestamp="1729535400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729567782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Tuesday, 22 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">22</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Tuesday, 22 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">22</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable hasevent"
                    data-day="23"
                    data-day-timestamp="1729621800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729654182"
                     data-title="Wednesday, 23 October events">
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">1 event, Wednesday, 23 October</span>
                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Wednesday, 23 October events"
                                data-year="2024" data-month="10" data-day="23"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1729621800"><span class="day-number-circle"><span class="day-number">23</span></span></a>
                            <div data-region="day-content">
                                <ul>
                                        <li data-region="event-item"
                                            data-event-component="mod_assign"
                                            data-event-eventtype="due"
                                            data-event-folded="false"
                                            data-eventtype-course="1"
>

                                            <a data-action="view-event" data-event-id="954" href="https://icetlms.lk/mod/assign/view.php?id=1861" title="Final Project | Final Submission is due">
                                                <span class="calendar-circle calendar_event_course">
                                                    &nbsp;
                                                </span>
                                                <span class="eventname">Final Project | Final Submission is due</span>
                                            </a>
                                        </li>
                                    <li data-action="view-more-events" style="display: none">
                                        <strong>
                                            <a data-action="view-day-link" href="#" class="aalink day" aria-label="Wednesday, 23 October events"
                                               data-year="2024" data-month="10" data-day="23"
                                               data-courseid="1" data-categoryid="0"
                                               data-timestamp="1729621800">
                                                more
                                            </a>
                                        </strong>
                                    </li>
                                </ul>
                                <div class="hidden">
                                        <div data-popover-eventtype-course="1">
                                                <img class="icon " alt="" aria-hidden="true" src="https://icetlms.lk/theme/image.php/lambda/assign/1721749349/monologo" />
                                            Final Project | Final Submission is due
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">1 event, Wednesday, 23 October</span>
                            <a data-action="view-day-link" href="#" class="day aalink" aria-label="Wednesday, 23 October events"
                                data-year="2024" data-month="10" data-day="23"
                                data-courseid="1" data-categoryid="0"
                                data-timestamp="1729621800"><span class="day-number-circle"><span class="day-number">23</span></span></a>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="24"
                    data-day-timestamp="1729708200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729740582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Thursday, 24 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">24</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Thursday, 24 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">24</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="25"
                    data-day-timestamp="1729794600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729826982"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Friday, 25 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">25</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Friday, 25 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">25</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="26"
                    data-day-timestamp="1729881000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729913382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Saturday, 26 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">26</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Saturday, 26 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">26</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left weekend clickable"
                    data-day="27"
                    data-day-timestamp="1729967400"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1729999782"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Sunday, 27 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">27</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Sunday, 27 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">27</span></span></span>
                    </div>
                </td>
        </tr>
        <tr data-region="month-view-week">
                <td class="day text-sm-center text-md-left today clickable"
                    data-day="28"
                    data-day-timestamp="1730053800"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1730086182" title="Today"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Monday, 28 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">28</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Monday, 28 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">28</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="29"
                    data-day-timestamp="1730140200"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1730172582"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Tuesday, 29 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">29</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Tuesday, 29 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">29</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="30"
                    data-day-timestamp="1730226600"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1730258982"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Wednesday, 30 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">30</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Wednesday, 30 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">30</span></span></span>
                    </div>
                </td>
                <td class="day text-sm-center text-md-left clickable"
                    data-day="31"
                    data-day-timestamp="1730313000"
                    data-drop-zone="month-view-day"
                    data-region="day"
                    data-new-event-timestamp="1730345382"
                    >
                    <div class="d-none d-md-block hidden-phone text-xs-center">
                        <span class="sr-only">No events, Thursday, 31 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">31</span></span></span>
                    </div>
                    <div class="d-md-none hidden-desktop hidden-tablet">
                        <span class="sr-only">No events, Thursday, 31 October</span>
                            <span aria-hidden="true"><span class="day-number-circle"><span class="day-number">31</span></span></span>
                    </div>
                </td>
                <td class="dayblank">&nbsp;</td>
                <td class="dayblank">&nbsp;</td>
                <td class="dayblank">&nbsp;</td>
        </tr>
    </tbody>
</table>